.bgMain {
    background-color: #1abc9c;
}

.about {
    font-size: clamp(1.8rem, 7vw, 4rem);
}

.actve:hover {
    background-color: white;
}

.actve:hover .actveText {
    color: black !important;
}